

<div id="container">
    <h2>USER MANAGEMENT</h2>
    <div id="admin-info">
        <h3>Admin: {{email}}</h3>    
    </div>
    <br>
    <h3>Users list</h3> 
    <div id="div-users"></div>

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/users.js"></script>