@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    /* padding-inline: 2rem; */    
  }

  #logo{
    background-color: black;
    padding: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 0.7cm;
    font-weight: 200;
}

h2{
    text-align: center;
}