@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    /* padding-inline: 2rem; */    
  }

  #logo{
    background-color: black;
    padding: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 0.7cm;
    font-weight: 200;
}


#user-rol{
    margin-top: 2rem;
    text-align: center;
}
#user_welcome{    
    text-align: center;
}



h2{
    /* padding-left: 2rem */
    /* padding-top: 2rem; */
    text-align: center;
    
}

h3{
    padding-top: 2rem; 
    text-transform: uppercase; 
    
}

#user-email{
    text-align: center;
}

#user-role{
    text-align: center;
}

.contenedor-botones{    
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;    
    margin-right: 2.5rem;
    gap: 2rem;
}


#cart_button{ 
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}

#cart_button a {
    text-decoration: none;
    color: white;
}


#signout_button{    
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}

#signout_button a {
    text-decoration: none;
    color: white;
}

#info{
    margin-left: 5rem;
    margin-bottom: 3rem;    
}

#category{
    margin-bottom: 2rem;
}

#button_addToCart{      
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}